/* --- Variáveis de Cores e Espaçamento --- */
:root {
    /* Cores Light Mode */
    --bg-body: #f9fafb; /* gray-50 */
    --bg-surface: #ffffff;
    --text-primary: #1e293b; /* slate-800 */
    --text-secondary: #64748b; /* slate-500 */
    --border-color: #e2e8f0; /* gray-200 */
    
    --primary-color: #2563eb; /* blue-600 */
    --primary-hover: #1d4ed8; /* blue-700 */
    --danger-color: #ef4444; /* red-500 */
    
    /* Sidebar */
    --sidebar-bg: #0f172a; /* slate-900 */
    --sidebar-border: #1e293b; /* slate-800 */
    
    /* Dimensões */
    --sidebar-width: 16rem;
    --sidebar-width-collapsed: 5rem;
    --header-height: 4rem;
    --transition-speed: 300ms;
}

/* --- Cores Dark Mode --- */
.dark {
    --bg-body: #0f172a; /* slate-900 */
    --bg-surface: #1e293b; /* slate-800 */
    --text-primary: #e2e8f0; /* slate-200 */
    --text-secondary: #94a3b8; /* slate-400 */
    --border-color: #334155; /* slate-700 */
    
    --sidebar-bg: #020617; /* slate-950 */
    --sidebar-border: #0f172a; /* slate-900 */
}