/* --- Formulários e Inputs --- */
.search-input {
    font-size: 0.875rem;
    border: 1px solid var(--border-color);
    background-color: var(--bg-body);
    color: var(--text-primary);
    border-radius: 0.5rem;
    padding: 0.375rem 0.75rem;
    outline: none;
    transition: border-color 0.2s;
}

.search-input:focus {
    border-color: var(--primary-color);
}